.item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.remove-btn {
    cursor: pointer;
    color: red;

    }

h1{
    text-align: center;
}

.container {
    text-align: center;
}